/* Layout.css */
.login-page-wrapper {
  height: 100vh;
  overflow: hidden;
}

.layout-content {
  display: flex;
  min-height: calc(100vh - 56px);
  font-size: 18px;
}

.main-content {
  flex: 1;
  padding: 32px;
  background: #fff;
  min-height: calc(100vh - 56px);
  overflow-y: auto;
  padding-top: 120px;
}

.sidebar {
  padding-top: 120px;
}

@media (max-width: 900px ) {
  .main-content {
    padding-top: 20px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    padding-top: 0;
  }
}

@media (max-width: 768px ) {
  .main-content {
    padding-top: 20px;
  }
}