/* Layout.css */
.layout-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.login-page-wrapper {
  display: flex;
  flex: 1 1 auto;
  min-height: 0; /* important for flex children scrolling */
  height: 100%;
}

.layout-content {
  display: flex;
  min-height: calc(100vh - 56px);
  font-size: 18px;
}

.main-content {
  flex: 1;
  padding: 32px;
  background: #fff;
  min-height: 0;
  overflow-y: auto;
}
